# Server Configuration
JWT_SECRET=

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URIS=
GOOGLE_AUTH_URI=
GOOGLE_TOKEN_URI=
GOOGLE_JAVASCRIPT_ORIGINS=

# Redis Configuration
REDIS_URL=

# External APIs Configuration
GEMINI_KEY=
OPENAI_KEY=
AUTH_BEARER=